[package]
name = "deno_graph"
version = "0.3.0"
edition = "2018"
description = "module graph analysis for deno"
homepage = "https://deno.land/"
repository = "https://github.com/denoland/deno_graph"
documentation = "https://docs.rs/deno_graph"
authors = ["the Deno authors"]
license = "MIT"

[lib]
crate-type = ["cdylib", "rlib"]
name = "deno_graph"

[dependencies]
anyhow = "1.0.43"
data-url = "0.1.0"
futures = "0.3.17"
js-sys = { version = "0.3.53", optional = true }
lazy_static = "1.4.0"
regex = "1.5.4"
ring = "0.16.20"
serde = { version = "1.0.130", features = ["derive", "rc"] }
serde_json = { version = "1.0.67", features = ["preserve_order"] }
serde-wasm-bindgen = { version = "0.3.1", optional = true }
swc_common = "0.11.8"
swc_ecmascript = { version = "0.59.0", features = ["dep_graph", "parser"] }
termcolor = "1.1.2"
text_lines = "0.1.2"
url = { version = "2.2.2", features = ["serde"] }
wasm-bindgen = { version = "0.2.76", features = ["serde-serialize"], optional = true }
wasm-bindgen-futures = { version = "0.4.26", optional = true }

[dev-dependencies]
tokio = { version = "1.10.1", features = ["macros", "rt-multi-thread"] }

[features]
default = ["rust"]
rust = []
wasm = ["js-sys", "serde-wasm-bindgen", "wasm-bindgen", "wasm-bindgen-futures"]

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "z"
