[package]
name = "deno_graph"
version = "0.49.0"
edition = "2021"
description = "Module graph analysis for deno"
homepage = "https://deno.land/"
repository = "https://github.com/denoland/deno_graph"
documentation = "https://docs.rs/deno_graph"
authors = ["the Deno authors"]
license = "MIT"

[workspace]
members = ["lib"]

[lib]
name = "deno_graph"

[package.metadata.docs.rs]
all-features = true

[features]
type_tracing = ["deno_ast/visit", "deno_ast/utils"]

[dependencies]
anyhow = "1.0.43"
data-url = "0.2.0"
deno_ast = { version = "0.27.0", features = ["dep_graph", "module_specifier"] }
deno_semver = "0.2.0"
futures = "0.3.26"
indexmap = { version = "1.9.2", features = ["serde"] }
monch = "0.4.1"
once_cell = "1.16.0"
parking_lot = "0.12.0"
regex = "1.5.4"
serde = { version = "1.0.130", features = ["derive", "rc"] }
serde_json = { version = "1.0.67", features = ["preserve_order"] }
thiserror = "1.0.24"
url = { version = "2.2.2", features = ["serde"] }

[dev-dependencies]
pretty_assertions = "1.0.0"
tokio = { version = "1.10.1", features = ["macros", "rt-multi-thread"] }

[profile.release]
codegen-units = 1
incremental = true
lto = true
opt-level = "z"
